<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário HTML</title>
    <link rel="stylesheet" href="formulario.css">

</head>



<body class="body">


    <div class="folha">
        <table id="tabelaDados">

            <p id="titulo">
                Formulário
            </p>

            <!-- nome -->
            <div>
                <p id="nome">Nome:</p>
                <input id="nomeInput" type="text" placeholder="Informe seu nome aqui">

            </div>


            <!-- cpf-->

            <div>
                <p id="cpf">CPF:</p>
                <input id="cpfInput" type="text" placeholder="Ex.: 000.000.000-00">
            </div>

            <!-- data de nascimento-->
            <div>
                <p id="data">Data de Nascimento:</p>
                <input id="dataInput" type="text" placeholder="Ex.: dd/mm/aaaa">
            </div>

            <!-- senha -->
            <div>
                <p id="senha">Senha:</p>
                <input id="senhaInput" type="password" placeholder="Informe sua senha">

                <!-- Botao -->

                <button id="exibir" name="exibir" onclick="exibirSenha()" class="botao1">Exibir</button>
            </div>


            <!-- Botao -->
            <div>

                <button id="enviar" name="enviar" onclick="criarCliente()" class="botao2">Enviar</button>
            </div>


        </table>
    </div>


</body>

<script src="formulario.js"></script>

</html>