<!DOCTYPE html>
<html lang='pt'>
<head>
	<header>
	<title class="titulo-projeto"> Projeto "Game in Cloud"</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="application.css">
	
</head>

<body>

	<main>
		<div class="logo"> 
	<img src="https://kstatic.googleusercontent.com/files/76e05f4e116181f0e5c6cd65ab59a2a1b6881de68613a31c9c2ea3fe48a2cad43d73578bd433f9c43ce20cbd705b4db8b74ce89cf6575cafa44286e6e5f3ac6e" alt="logo">
		</div>
		<hr>
	<h1 class="nome-projeto"> Projeto Game in Cloud </h1>

	<h2 class="subtitulo-projeto">Games com armazenamento em nuvem</h2>
	<h3 class="descricao-projeto"> O projeto "Game in Cloud" tem o intuito de trazer uma plataforma de games com armazenamento em nuvem para um melhor desempenho de games sem a necessidade de grandes espaços de armazenamento interno do seu computador.  Nosso compromisso é trazer o melhor desempenho e fluidez para seus games.
	</h3>

	<hr>
	<div class="creditos">
		<h3>Créditos</h3>

		<table>
			<thead>
				<tr>
					<th>Criadores </th>
					<th></th>
					<th> Disciplina </th>
					<th></th>
					<th> Ferramentas </th>
					<th></th>
					<th> Data </th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Roberto Santos e Álvaro Lima </td>
					<td></td>
					<td> Programação para Web </td>
					<td></td>
					<td> HTML & CSS </td>
					<td></td>
					<td> 20/03/2020 </td>
					<td></td>
				</tr>
			</tbody>

		</table>

<p>@Todos os direitos reservados - Game in Cloud Project - 2020</p>
</body>

</html>